<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="products-table">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th class="sorting">id</th>
            <th class="sorting">trade mark</th>
            <th class="sorting">organ type</th>
            <th class="sorting">кол-во в упаковке</th>
            <th class="sorting">название</th>
            <th class="sorting">описание</th>
            <th class="sorting">дата закрытия</th>
        </tr>
        </thead>
    </table>
    <script>
var oTable = $('#example').DataTable({
language: {
            url: '../localization/products/russia.json'
        },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/products",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
             return JSON.stringify(d);
            }
        },
         "order": [
         [ 0, "desc" ]
         ],
               "columns": [
            {"data": "idProduct", "width": "5%"},
            {"data": "tradeMark.tradeMarkName","width": "20%"},
            {"data": "organType.organTypeName", "width": "20%"},
            {"data": "numberInPack", "width": "5%"},
            {"data": "productName", "width": "20%"},
            {"data": "productComment", "width": "20%"},
            {"data": "inactive", "width": "10%"}
            ]
    });

    </script>
</div>
</body>
</html>