<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap-select/1.13.18/css/bootstrap-select.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Добавление товара</title>
</head>
<body>
<a th:href="@{/products/all}">Вернуться к списку товаров</a>
<form action="#" th:action="@{/products/add}" th:object="${product}" method="post">
        <label for="trademark">Выбор торговой марки</label>
    <select class="selectpicker" data-live-search="true" th:field="*{tradeMark}" id="trademark">
        <option value="">Ничего не выбрано</option>
        <option th:each="tradeMark : ${tradeMarks}"
                th:value="${tradeMark.idTradeMark}"
                th:text="${tradeMark.tradeMarkName}">
        </option>
    </select>
    <span th:if="${#fields.hasErrors('tradeMark')}" th:errors="*{tradeMark}"></span>
    <label for="organType">ID organ type</label>
    <select class="selectpicker" data-live-search="true" th:field="*{organType}" id="organType" ser>
        <option value="">Ничего не выбрано</option>
        <option th:each="organType : ${organTypes}"
                th:value="${organType.idOrganType}"
                th:text="${organType.organTypeName}">
        </option>
    </select>
    <span th:if="${#fields.hasErrors('organType.idOrganType')}" th:errors="*{organType}"></span>
    <label for="numberInPack">number in pack</label>
    <input type="number" th:field="*{numberInPack}" id="numberInPack" placeholder="Кол-во в упаковке">
    <span th:if="${#fields.hasErrors('numberInPack')}" th:errors="*{numberInPack}"></span>
    <label for="productName">Название</label>
    <input type="text" th:field="*{productName}" id="productName" placeholder="Название">
    <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
    <label for="productComment">Примечание</label>
    <input type="text" th:field="*{productComment}" id="productComment" placeholder="Примечание">
    <span th:if="${#fields.hasErrors('productComment')}" th:errors="*{productComment}"></span>
    <label for="inactive">Закрыт</label>
    <input type="text" th:field="*{inactive}" id="inactive" placeholder="закрыт">
    <span th:if="${#fields.hasErrors('inactive')}" th:errors="*{inactive}"></span>

    <input type="submit" value="Добавить товар">

</form>
</body>
</html>