<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>

    <link rel="stylesheet"
          href="/webjars/bootstrap-select/1.13.18/css/bootstrap-select.min.css"/>
    <link rel="stylesheet"
          href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet"
          th:href="@{/css/main.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Тип контрагента</title>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/sign-in">Войти</a></div>
            </div>
            <li><a th:href="@{/products/all}">Продукты</a></li>
            <li><a th:href="@{/organtypes/all}">Типы органов</a></li>
            <li><a th:href="@{/trademarks/all}">Торговые марки</a></li>
            <li><a th:href="@{/counteragents/all}">Контрагенты</a></li>
            <li><a th:href="@{/counteragenttypes/all}">Типы контрагентов</a></li>
            <li><a th:href="@{/operationtypes/all}">Типы операций</a></li>
            <li><a th:href="@{/counteragentsnotes/all}">Комментарии контрагентов</a></li>
            <li><a th:href="@{/operationliststatuses/all}">Статусы операции</a></li>
            <li><a th:href="@{/operationlists/all}">Операции</a></li>
            <li><a th:href="@{/campaigns/all}">Кампании</a></li>
            <li><a th:href="@{/pricebuys/all}">Цены закупочные</a></li>
            <li><a th:href="@{/pricesales/all}">Цены продажные</a></li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">

                <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="row no-gutters ml-5 mt-4">
                        <div class=" col-lg-12 breadcrumb ">
                            <ol class="breadcrumb ml-3">
                                <li class="breadcrumb-item"><a href="@{/index}"></a>
                                </li>
                                <li class="breadcrumb-item "><a th:href="@{/counteragenttypes/all}"><span>
                                    Типы контрагентов
                                </span></a></li>

                                <li class="breadcrumb-item active"><span
                                        th:text="${counterAgentType.idCounterAgentType} ?'Изменить': 'Создать'"></span></li>
                            </ol>
                            </ol>
                        </div>
                        <!--                        &lt;!&ndash;<div class="col-lg-2 justify-content-around">-->
                        <!--                            &lt;!&ndash;                            <button type="button" class="btn btn-primary btn-sm">Small button</button>&ndash;&gt;-->
                        <!--                            <a class="btn btn-light btn-sm float-right" th:href="@{/products/add}" role="button">Добавить</a>-->
                        <!--                        &lt;!&ndash;</div>&ndash;&gt;-->
                    </div>
                </div>
            </div>
            <form autocomplete="off"
                  th:with="baseUrl=(${counterAgentType.idCounterAgentType}? 'edit' : 'add')"
                  th:action="@{${baseUrl}+${counterAgentType.idCounterAgentType!=null}?'?id='+${counterAgentType.idCounterAgentType}:''}"
                  th:object="${counterAgentType}" method="post">
                <div class="form-group">
                    <label for="counterAgentTypeName">Название</label>
                    <input class="form-control form-control-sm" type="text" maxlength="64" required="required" th:field="*{counterAgentTypeName}"
                           id="counterAgentTypeName"
                           placeholder="Название">
                    <span th:if="${#fields.hasErrors('counterAgentTypeName')}" class="errortext" th:errors="*{counterAgentTypeName}"></span>
                </div>
                <div class="form-group">
                    <label for="counterAgentTypeComment">Примечание</label>
                    <input class="form-control form-control-sm" type="text" maxlength="255" th:field="*{counterAgentTypeComment}"
                           id="counterAgentTypeComment"
                           placeholder="Примечание">
                    <span th:if="${#fields.hasErrors('counterAgentTypeComment')}" class="errortext" th:errors="*{counterAgentTypeComment}"></span>
                </div>

                <!--                    <button type="submit" class="btn btn-primary">Сохранить</button>-->
                <button type="submit" class="btn btn-light btn-sm float-right">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>