<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script src="/webjars/select2/4.0.13/js/select2.min.js"></script>
    <script src="/webjars/select2/4.0.13/js/i18n/ru.js"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/edit-form.js}"></script>

    <link rel="stylesheet"
          href="/webjars/select2/4.0.13/css/select2.min.css"/>
    <link rel="stylesheet"
          href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet"
          th:href="@{/css/main.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавление контрагента</title>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/sign-in">Войти</a></div>
            </div>
            <li><a th:href="@{/products/all}">Продукты</a></li>
            <li><a th:href="@{/organtypes/all}">Типы органов</a></li>
            <li><a th:href="@{/trademarks/all}">Торговые марки</a></li>
            <li><a th:href="@{/counteragents/all}">Контрагенты</a></li>
            <li><a th:href="@{/counteragenttypes/all}">Типы контрагентов</a></li>
            <li><a th:href="@{/operationtypes/all}">Типы операций</a></li>
            <li><a th:href="@{/counteragentsnotes/all}">Заметки к контрагентам</a></li>
            <li><a th:href="@{/operationliststatuses/all}">Статусы операции</a></li>
            <li><a th:href="@{/operationlists/all}">Операции_Листы</a></li>
            <li><a th:href="@{/campaigns/all}">Кампании</a></li>
            <li><a th:href="@{/pricebuys/all}">Цены закупочные</a></li>
            <li><a th:href="@{/pricesales/all}">Цены продажные</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="page-content-wrapper">


        <div class="container">
            <div class="row">

                <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="row no-gutters ml-5 mt-4">
                        <div class=" col-lg-12 breadcrumb ">
                            <ol class="breadcrumb ml-3">
                                <li class="breadcrumb-item"><a href="@{/index}"></a>
                                </li>
                                <li class="breadcrumb-item "><a th:href="@{/counteragentsnotes/all}"><span>
                                    Заметки к контрагентам
                                </span></a></li>

                                <li class="breadcrumb-item active"><span
                                        th:text="${counterAgentNote.idCounterAgentNote} ?'Изменить': 'Создать'"></span>
                                </li>
                            </ol>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="row no-gutters">-->
            <form autocomplete="off"
                  th:with="baseUrl=(${counterAgentNote.idCounterAgentNote}? 'edit' : 'add')"
                  th:action="@{${baseUrl}+${counterAgentNote.idCounterAgentNote!=null}?'?id='+${counterAgentNote.idCounterAgentNote}:''}"
                  th:object="${counterAgentNote}" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <button type="submit"
                                class="shadow-none"><i class="fa fa-save fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-lg"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="counterAgent">Выбор контрагента</label>
                            <select class=" selectpicker form-control form-control-sm" required="required"
                                    th:field="*{counterAgent}"
                                    id="counterAgent">
                                <option value="">Ничего не выбрано</option>
                                <option th:each="counterAgent : ${counterAgents}"
                                        th:value="${counterAgent.idCounterAgent}"
                                        th:text="${counterAgent.counterAgentName}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('counterAgent')}" th:errors="*{counterAgent}"
                                  class="error-text"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <label for="note">Заметка</label>
                                <textarea id="note" rows="3" placeholder="Заметка"
                                          maxlength="255" class="form-control form-control-sm focus-element"
                                          th:field="*{note}" required="required" type="text"></textarea>
                                <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}"
                                      class="errortext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </form>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

</div>
</body>
</html>