<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:wrap="http://www.w3.org/1999/xhtml">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/webjars/datatables/1.10.24/js/jquery.dataTables.min.js}"></script>
    <script src="/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="/webjars/select2/4.0.13/js/select2.min.js"></script>
    <script src="/webjars/select2/4.0.13/js/i18n/ru.js"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/add-counter-agent-note.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables-ellipsis.js}"></script>
    <script type="text/javascript" th:src="@{/js/edit-form.js}"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/select2/4.0.13/css/select2.min.css"/>
    <link rel="stylesheet" href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/datatables.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.24/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/select2-bootstrap4.min.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавление контрагента</title>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/sign-in">Войти</a></div>
            </div>
            <li><a th:href="@{/products/all}">Продукты</a></li>
            <li><a th:href="@{/organtypes/all}">Типы органов</a></li>
            <li><a th:href="@{/trademarks/all}">Торговые марки</a></li>
            <li><a th:href="@{/counteragents/all}">Контрагенты</a></li>
            <li><a th:href="@{/counteragenttypes/all}">Типы контрагентов</a></li>
            <li><a th:href="@{/operationtypes/all}">Типы операций</a></li>
            <li><a th:href="@{/counteragentsnotes/all}">Заметки к контрагентам</a></li>
            <li><a th:href="@{/operationliststatuses/all}">Статусы операции</a></li>
            <li><a th:href="@{/operationlists/all}">Операции_Листы</a></li>
            <li><a th:href="@{/campaigns/all}">Кампании</a></li>
            <li><a th:href="@{/pricebuys/all}">Цены закупочные</a></li>
            <li><a th:href="@{/pricesales/all}">Цены продажные</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="page-content-wrapper">


        <div class="container">
            <div class="row">

                <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="row no-gutters ml-5 mt-4">
                        <div class=" col-lg-12 breadcrumb ">
                            <ol class="breadcrumb ml-3">
                                <li class="breadcrumb-item"><a href="@{/index}"></a>
                                </li>
                                <li class="breadcrumb-item "><a th:href="@{/counteragents/all}"><span>
                                    Контрагенты
                                </span></a></li>

                                <li class="breadcrumb-item active"><span
                                        th:text="${counterAgent.idCounterAgent} ?'Изменить': 'Создать'"></span></li>
                            </ol>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row no-gutters">-->
            <div th:fragment="counter-agent-form">
                <form id="counter-agent-form" autocomplete="off" th:object="${counterAgent}"
                      th:action="${counterAgent.idCounterAgent!=null}? 'edit?id='+(${counterAgent.idCounterAgent}) : 'add'"
                      method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <button type="submit" id="submit-counter-agent-button" name="action"
                                    class="shadow-none"><i class="fa fa-save fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-2">
                                <label for="counterAgentType">Выбор типа контрагента</label>
                                <select class=" selectpicker form-control form-control-sm" required="required"
                                        th:field="*{counterAgentType}"
                                        id="counterAgentType">
                                    <option value="">Ничего не выбрано</option>
                                    <option th:each="counterAgentType : ${counterAgentTypes}"
                                            th:value="${counterAgentType.idCounterAgentType}"
                                            th:text="${counterAgentType.counterAgentTypeName}">
                                    </option>
                                    <span th:if="${#fields.hasErrors('counterAgentType')}"
                                          th:errors="*{counterAgentType}" class="error-text"></span>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="counterAgentName">Название</label>
                                <input class="form-control form-control-sm focus-element" type="text"
                                       required="required"
                                       maxlength="64"
                                       th:field="*{counterAgentName}" id="counterAgentName"
                                       placeholder="Название">
                                <span th:if="${#fields.hasErrors('counterAgentName')}"
                                      th:errors="*{counterAgentName}"
                                      class="errortext"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label for="counterAgentProfile">Соц сети</label>
                                <input class="form-control form-control-sm focus-element" type="text"
                                       required="required"
                                       maxlength="127"
                                       th:field="*{counterAgentProfile}" id="counterAgentProfile"
                                       placeholder="Соц сети">
                                <span th:if="${#fields.hasErrors('counterAgentProfile')}"
                                      th:errors="*{counterAgentProfile}"
                                      class="errortext"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label for="counterAgentPhone">Телефон</label>
                                <input class="form-control form-control-sm focus-element" type="text"
                                       required="required"
                                       maxlength="32" th:field="*{counterAgentPhone}"
                                       id="counterAgentPhone"
                                       placeholder="Телефон">
                                <span th:if="${#fields.hasErrors('counterAgentPhone')}"
                                      th:errors="*{counterAgentPhone}"
                                      class="errortext"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <a href="#" class="action-button btn btn-link pl-1 pr-3 shadow-none" role="button"
                                   data-toggle="modal" data-target="#add-counter-agent-note-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-link disabled pl-1 pr-3 shadow-none"
                                   id="counter-agent-note-edit-btn" role="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-link disabled pl-1 pr-3 shadow-none"
                                   id="counter-agent-note-delete-btn" role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>

                            <table id="counter-agents-notes-table" class="table"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="sorting">ID</th>
                                    <th class="sorting">Заметка</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="counterAgentNote: ${counterAgent.counterAgentNotes}">
                                    <td th:text="${counterAgentNote.idCounterAgentNote}"></td>
                                    <td th:text="${counterAgentNote.note}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

                <!-- Modal -->
                <div class="modal fade" id="add-counter-agent-note-modal" tabindex="-1" role="dialog" data-focus="true"
                     aria-labelledby="add-counter-agent-note-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="add-counter-agent-note-modal-label">Добавить заметку</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="counter-agent-note-form" autocomplete="off">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group mb-2">
                                                <input type="hidden" id="counter-agent-note-num" name="counter-agent-note-num">
                                                <label for="note">Заметка</label>
                                                <textarea id="note" rows="3" required="required" placeholder="Примечание"
                                                          maxlength="255" class="form-control form-control-sm modal-focus-element"
                                                          th:name="note" type="text"></textarea>
                                                <input class="form-control form-control-sm" type="number"
                                                       th:name="idCounterAgentNote" id="idCounterAgentNote"
                                                       readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-light btn-sm " href="#" role="button"
                                       data-dismiss="modal">Закрыть</a>
                                    <button class="shadow-none" id="accept-counter-agent-note"><i class="fa fa-save" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</div>
</body>
</html>