<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/js/confirm-excel-entity.js}"></script>-->

    <link rel="stylesheet"
          href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet"
          th:href="@{/css/main.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Результат парсинга</title>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container">
            <div class="row m-1">
                <label class="alert alert-primary">Результат загрузки в БД из excel файла</label>
            </div>
            <div th:if="${result ne null}">
                <div class="row m-2">
                <p th:text="${result}" class="alert alert-danger"></p>
                </div>
                <!--                    Сообщение с количеством сохраненных обектов-->
            </div>
            <div th:if="${errors ne null}">
                <div class="row m-2">
                    <p th:text="${response}" class="alert alert-danger"></p>
                </div>
                <!--                    Таблица, если есть ошибки-->
                <!--                    Кнопка ВЕРНУТЬСЯ-->
                <div class="row">
                    <div class="row no-gutters">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered display nowrap my-2"
                                   cellspacing="0"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>№ Строки</th>
                                    <th>Сущность</th>
                                    <th>Ошибка</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="error: ${errors}">
                                    <td th:text="${error.row}==0?'Во всём файле':${error.row}"></td>
                                    <td th:text="${error.entityName}"></td>
                                    <td th:text="${error.message}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <a th:href="@{/apache}" type="button" class="btn btn-primary">Вернуться</a>
                </div>
            </div>
            <div th:if="${warnings ne null}" class="row m-2">

                <!--                            <input hidden="hidden" th:field="*{__${excelEntity.priceSales}__}">-->
                <!--                            <input hidden="hidden" id="products" th:name="${excelEntity.products}">-->
                <!--                            <input hidden="hidden" id="bareCodes" th:name="${excelEntity.bareCodes}">-->
                <!--                            <input hidden="hidden" id="priceBuys" th:name="${excelEntity.priceBuyPreliminarilyMap}">-->
                <!--                            <input hidden="hidden" id="priceSales" th:name="${excelEntity.priceSales}">-->
                <div class="row">
                    <p th:text="${result}" class="alert alert-warning"></p>
                </div>
                <div class="row">
                    <p th:text="${response}" class="alert alert-warning"></p>
                </div>
                <!--                    Таблица, есть предупреждения-->
                <!--                    Кнопка ОК-->
                <!--                    Кнопка ВЕРНУТЬСЯ-->
                <div class="row no-gutters">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered display nowrap my-2"
                               cellspacing="0"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th>№ Строки</th>
                                <th>Сущность</th>
                                <th>Предупреждение</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="warning: ${warnings}">
                                <td th:text="${warning.row == 0}?'Во всем файле' : ${warning.row}"></td>
                                <td th:text="${warning.entityName}"></td>
                                <td th:text="${warning.message}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <a th:href="@{/apache}" type="button" class="btn btn-secondary m-2">Вернуться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>