<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>Программа с луковицами</p>
<ul>
    <li><a class="btn btn-light btn-sm" role="button" href="/login">login</a></li>
    <li><a class="btn btn-light btn-sm" role="button" href="/registry">registry</a></li>
</ul>
<p>
    <a href="/apache">Excel</a>
</p>
</body>
</html>



