<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/webjars/datatables/1.10.24/js/jquery.dataTables.min.js}"></script>
    <script src="/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="/webjars/select2/4.0.13/js/select2.min.js"></script>
    <script src="/webjars/select2/4.0.13/js/i18n/ru.js"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/add-operation-row.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables-ellipsis.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal.js}"></script>

    <link rel="stylesheet"
          href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/webjars/select2/4.0.13/css/select2.min.css"/>
    <link rel="stylesheet"
          href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet"  th:href="@{/css/datatables.css}"/>
    <link rel="stylesheet"  th:href="@{/webjars/datatables/1.10.24/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/css/select2-bootstrap4.min.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Операция</title>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/sign-in">Войти</a></div>
            </div>
            <li><a th:href="@{/products/all}">Продукты</a></li>
            <li><a th:href="@{/organtypes/all}">Типы органов</a></li>
            <li><a th:href="@{/trademarks/all}">Торговые марки</a></li>
            <li><a th:href="@{/counteragents/all}">Контрагенты</a></li>
            <li><a th:href="@{/counteragenttypes/all}">Типы контрагентов</a></li>
            <li><a th:href="@{/operationtypes/all}">Типы операций</a></li>
            <li><a th:href="@{/counteragentsnotes/all}">Комментарии контрагентов</a></li>
            <li><a th:href="@{/operationliststatuses/all}">Статусы операции</a></li>
            <li><a th:href="@{/operationlists/all}">Операции</a></li>
            <li><a th:href="@{/campaigns/all}">Кампании</a></li>
            <li><a th:href="@{/pricebuys/all}">Цены закупочные</a></li>
            <li><a th:href="@{/pricesales/all}">Цены продажные</a></li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">

                <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="row no-gutters ml-5 mt-4">
                        <div class=" col-lg-12 breadcrumb ">
                            <ol class="breadcrumb ml-3">
                                <li class="breadcrumb-item"><a href="@{/index}"></a>
                                </li>
                                <li class="breadcrumb-item "><a th:href="@{/operationlists/all}"><span>
                                    Операции
                                </span></a></li>

                                <li class="breadcrumb-item active"><span
                                        th:text="${operationList.idOperationList} ?'Изменить': 'Создать'"></span></li>
                            </ol>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div th:fragment="operation-list-form">
                <form id="operation-list-form" autocomplete="off" th:object="${operationList}"
                      th:action="${operationList.idOperationList!=null}? 'edit?id='+(${operationList.idOperationList}) : 'add'"
                      method="post">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-2 " id="operation-type-group">
                                <label for="operationType">Тип</label>
                                <select class="selectpicker form-control form-control-sm" required="required"
                                        th:field="*{operationType}"
                                        id="operationType">
                                    <option value="">Ничего не выбрано</option>
                                    <option th:each="operationType : ${operationTypes}"
                                            th:value="${operationType.idOperationType}"
                                            th:text="${operationType.operationTypeName}">
                                    </option>
                                </select>
                                <span th:if="${#fields.hasErrors('operationType')}" th:errors="*{operationType}"
                                      class="error-text"></span>
                            </div>
                            <div class="form-group mb-2 ">
                                <label for="operationListStatus">Статус</label>
                                <select class=" selectpicker form-control form-control-sm" required="required"
                                        th:field="*{operationListStatus}"
                                        id="operationListStatus">
                                    <option value="">Ничего не выбрано</option>
                                    <option th:each="operationListStatus : ${operationListStatuses}"
                                            th:value="${operationListStatus.idOperationListStatus}"
                                            th:text="${operationListStatus.operationListStatusName}">
                                    </option>
                                </select>
                                <span th:if="${#fields.hasErrors('operationListStatus')}"
                                      th:errors="*{operationListStatus}"
                                      class="error-text"></span>
                            </div>
                            <div class="form-group mb-2 ">
                                <label for="counterAgent">Выбор контрагента</label>
                                <select class=" selectpicker form-control form-control-sm" required="required"
                                        th:field="*{counterAgent}"
                                        id="counterAgent">
                                    <option value="">Ничего не выбрано</option>
                                    <option th:each="counterAgent : ${counterAgents}"
                                            th:value="${counterAgent.idCounterAgent}"
                                            th:text="${counterAgent.counterAgentName}">
                                    </option>
                                </select>
                                <span th:if="${#fields.hasErrors('counterAgent')}" th:errors="*{counterAgent}"
                                      class="error-text"></span>
                            </div>
                            <div class="form-group mb-2 ">
                                <label for="operationListComment">Комментарий</label>
                                <textarea rows="6" class="note form-control form-control-sm" type="text" maxlength="255"
                                          th:field="*{operationListComment}"
                                          id="operationListComment"
                                          placeholder="Комментарий"></textarea>
                                <span th:if="${#fields.hasErrors('operationListComment')}" class="errortext"
                                      th:errors="*{operationListComment}"></span>

                            </div>
                            <button type="submit" id="submit-row-button" name="action"
                                    class="btn btn-primary btn-sm float-right">Сохранить
                            </button>
                        </div>
                        <div class="col-lg-8">
                            <div class="mb-2">
                                <a  href="#" class="action-button btn btn-link pl-1 pr-3 shadow-none" role="button" data-toggle="modal" data-target="#add-row-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i></a>
                                <a href="#"  class="btn btn-link disabled pl-1 pr-3 shadow-none " role="button" >
                                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-link disabled pl-1 pr-3 shadow-none" role="button" >
                                    <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>

                            <table id="rows-table" class="table "
                                   cellspacing="0"
                                   >
                                <thead>
                                <tr>
                                    <th class="sorting">Продукт</th>
                                    <th class="sorting">Цена</th>
                                    <th class="sorting">Количество</th>
                                    <th class="sorting">id</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="operationRow: ${operationList.operationRows}">
                                    <td th:text="${operationRow.product.productName}"></td>
                                    <td th:text="${operationRow.operationPrice}"></td>
                                    <td th:text="${operationRow.quantity}"></td>
                                    <td th:text="${operationRow.product.idProduct}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <th >Продукт</th>
                                <th >Цена</th>
                                <th >Количество</th>
                                <th >id</th>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- Modal -->

                </form>
                <div class="modal fade" id="add-row-modal" tabindex="-1" role="dialog" data-focus="true"
                     aria-labelledby="add-row-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="add-row-modal-label">Добавить строку</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="operation-row-form" autocomplete="off">
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group mb-2">
                                                <input type="hidden" id="row-num" name="row-num" >
                                                <label for="product">
                                                    Продукт
                                                </label>
                                                <select th:name="product" class="selectpicker"
                                                        required="required"
                                                        id="product">
                                                    <option value="">Ничего не выбрано</option>
                                                    <option th:each="product : ${products}"
                                                            th:value="${product.idProduct}"
                                                            th:text="${product.productName}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="quantity">
                                                    Кол-во
                                                </label>
                                                <input th:name="quantity" th:value="1"
                                                       class="form-control form-control-sm"
                                                       type="number"
                                                       min="1" max="1000" id="quantity">
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="operation-price">
                                                    Цена
                                                </label>
                                                <input th:name="operation-price" th:value="0.00"
                                                       class="form-control form-control-sm"
                                                       required="required" type="number" min="0.00" step="0.01"
                                                       id="operation-price">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-light btn-sm " href="#" role="button"
                                       data-dismiss="modal">Закрыть</a>
                                    <button class="btn btn-primary btn-sm ">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>